@import "variables";

.checkboxGroup {

  &__checkbox {
    position: relative;
    margin: 0 .5rem;

    input[type='checkbox']{
      opacity: 0;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      z-index: 0;
      transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
    }

    &:before {
      opacity: 0;
      //TODO: turn the positions here into a mixin...need to calculate position based on the $checkbox-size variable
      top: 2px;
      left: 1px;
      width: 8px;
      height: 13px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid $checkbox-checked-color;
      border-bottom: 2px solid $checkbox-checked-color;
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
      z-index: 2;
    }

    &:after {
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid $checkbox-border-color;
      background-color: $checkbox-background;
      border-radius: 2px;
      z-index: 1;
    }

    &--checked {
      &:before {
        opacity: 1;
      }

      &:after {
        border-color: $checkbox-checked-border-color;
        background-color: $checkbox-checked-background;
      }
    }
  }
}



