
//Variables that can be over written
$checkbox-background: transparent !default;
$checkbox-border-color: #ccc !default;

$checkbox-checked-background: #33bc5d !default;
$checkbox-checked-border-color: #33bc5d !default;
$checkbox-checked-color: #fff !default;